{% extends "layout.html" %}

{% block content %}
<h3 class="heading">Entered Entropy/ Randomly Generated Entropy</h3>
<p class="container"> {{entropy}} </p>
<h3 class="heading">Generated Words List</h2>
<div class="container">
    <p>
    {% for word in wordList %}
    {{word}}
    {% endfor %}
    </p>
</div>
<h3 class="heading">Seed details</h3>
<ul class="container">
    <li> Root Seed: {{ rootSeed }}</li>
    <li> Master Chain Code: {{ masterChainCode }} </li>
    <li> Master Private Key: {{ masterPrivateKey }} </li>
</ul>
{% endblock content%}