{% extends "layout.html" %}

{% block content %}
<h3 class="heading">Entered / Randomly Generated Entropy</h3>
<p class="container"> {{entropy}} </p>
<h3 class="heading">Word List</h2>
<div class="container">
    <p>
    {% for word in wordList %}
    {{word}}
    {% endfor %}
    </p>
</div>
<h3 class="heading">Root Seed and Private Keys</h3>
<ul class="container">
    <li class = "list"> Root Seed: <br> <span class = "seed"> {{ rootSeed }} </span></li>
    <li class = "list">  Master Chain Code: <br> <span class = "keys"> {{ masterPrivateKey }} </span></li>
    <li class = "list">  Master Private Key: <br> <span class = "keys"> {{ masterChainCode }} </span> </li>
</ul>
{% endblock content%}